// ==================
// VARIABLES
// ==================

@import "partials/variables";

// ==================
// FOOTER LAYOUT
// ==================

#footer {
  li {
    a,
    a:visited,
    a:active {
      color: $color_chiedi_green;
      color: transparentize($color_chiedi_green, 0.2);
    }

    a:hover {
      color: $color_chiedi_green;
    }
  }
}
