// ==================
// VARIABLES
// ==================

@import "partials/variables";

// ==================
// FOOTER LAYOUT
// ==================

#footer {
  li {
    a,
    a:visited,
    a:active {
      color: $chiedi-green;
      color: transparentize($chiedi-green, 0.2);
    }

    a:hover {
      color: $chiedi-green;
    }
  }
}