<% @title = "Il diritto di accesso" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

<h1 id="introduzione">Cos'è il diritto di accesso? <a href="#introduzione">#</a> </h1>
<p style="text-align: left;" align="CENTER"> Nella legislazione italiana il “diritto di accesso agli atti amministrativi” è il diritto dei cittadini di ottenere informazioni dalle Pubbliche Amministrazioni.
Più nello specifico è la possibilità di <strong>prendere visione</strong> e <strong>ottenere una copia</strong> dei <strong>documenti</strong> che le Pubbliche Amministrazioni (Ministeri, Regioni, Comuni ecc.) producono o semplicemente possiedono. Per documenti si intendono ovviamente quelli cartacei, ma anche file audio e video e dataset.</p>
<p>È un diritto che <strong>va difeso e promosso</strong> perché le istituzioni rappresentano i cittadini e sono finanziate col denaro dei contribuenti. Questi hanno perciò il diritto di conoscere come viene esercitato il potere che delegano e come è speso il denaro che gli affidano.</p>
<p>A livello internazionale il diritto di accesso è indicato tra i <strong>diritti umani fondamentali</strong> da vari organismi come l'Onu (Risoluzione 59/1946) e l’Unione Europea ( <a href="https://www.ecb.europa.eu/ecb/legal/pdf/it_lisbon_treaty.pdf">Trattato di Lisbona</a>, <a href="http://www.europarl.europa.eu/charter/pdf/text_it.pdf">Carta Europea dei Diritti Fondamentali</a>, <a href="http://eur-lex.europa.eu/legal-content/IT/TXT/PDF/?uri=CELEX:32001R1049&qid=1442486033679&from=EN">Regolamento 1049/2001</a>).</p>
  
<h1 id="scopo">A cosa serve il diritto di accesso? <a href="#scopo">#</a> </h1>

<p>Gli utilizzi di questo diritto sono tantissimi e interessano sia i privati che le aziende.</p>
<p><strong>Da cittadino</strong> puoi richiedere documenti utili per il tuo lavoro o per la vita di tutti i giorni (ma attenzione, le norme italiane sono spesso più restrittive di quelle statunitensi o nordeuropee).</p>
<p><strong>Se lavori in un'organizzazione</strong> puoi ottenere informazioni utili per i tuoi progetti o nella tua ricerca di fondi. Se hai un’impresa o lavori in un’impresa puoi richiedere informazioni sugli appalti nei quali è coinvolta. </p>
<p><strong>Se sei un giornalista</strong> puoi fare richiesta per ottenere le informazioni che ti servono a completare un pezzo o avviare un’inchiesta. In quanto portatore di un interese pubblico, rispetto ad altre categorie, puoi anche appellarti al diritto di cronaca per argomentare l’accesso alle informazioni che ti interessano.</p> 
<p>Come <strong>Diritto Di Sapere</strong> abbiamo creato <a href="http://www.dirittodisapere.it/il-manuale/">LegalLeaks</a>, un manuale gratuito pensato appositamente per chi, cittadino o giornalista, vuole chiedere l’accesso a delle informazioni detenute dalla pubblica amministrazione.
<a href="http://www.dirittodisapere.it/casi-di-studio/">Qui</a>, invece, trovi alcuni esempi di  inchieste realizzate proprio grazie al diritto di accesso.
Se ne conosci altri o se hai avuto esperienza di richieste di accesso, <a href="https://chiedi.dirittodisapere.it/help/contact">scrivici</a> e segnala la tua esperienza.</p>  
  
<h1 id="open_data">Diritto di accesso, open data, trasparenza… sono la stessa cosa?<a href="#open_data">#</a> </h1>  
 
<p>Non esattamente, ma sono concetti collegati.</p>
<p>Si parla di <strong>accesso proattivo</strong> quando è la Pubblica Amministrazione a mettere a disposizione dei cittadini set di dati in suo possesso (per esempio con la pubblicazione di informazioni in formato aperto).</p>
<p>Si parla invece di <strong>accesso reattivo</strong> quando l'atto amministrativo viene fornito al cittadino a seguito di una sua richiesta esplicita presso l'istituzione che detiene l'atto.</p>

<h1 id="accesso_italia">Come funziona il diritto di accesso in Italia?<a href="#accesso_italia">#</a> </h1>
<p>Ecco, ora passiamo alle note dolenti. La prima risposta è: male.
La seconda risposta è: se conosci bene come funziona il procedimento di richiesta hai molte più possibilità di ottenere quello che ti serve.</p>

<h1 id="accesso_italia">Quali sono le leggi italiane che regolano il diritto di accesso?<a href="#accesso_italia">#</a> </h1>
<p>In Italia sono <strong>due</strong> le leggi che si occupano in maniera più specifica di diritto di accesso. La prima risale al 1990 e si chiama <a href="http://www.altalex.com/index.php?idstr=12&idnot=550">“Nuove norme in materia di procedimento amministrativo e di diritto di accesso ai documenti amministrativi”</a> (241/1990). L’altra è molto più recente, ovvero del 2013, e si chiama <a href="http://www.normattiva.it/uri-res/N2Ls?urn:nir:stato:decreto.legislativo:2013-03-14;33">“Riordino della disciplina riguardante gli obblighi di pubblicità, trasparenza e diffusione di informazioni da parte delle pubbliche amministrazioni”</a> (33/2013).</p>
<p>Ora per farcele amiche chiamiamole semplicemente <strong>“Legge sull’accesso”</strong> e <strong>“Legge sull’accesso civico”</strong>.</p>

<h1 id="why_laws">Perché ci sono più leggi?<a href="#why_laws">#</a> </h1>
<p>Rispetto ad altri Paesi, nei quali è possibile richiedere ogni tipo di documento che non ricada tra le eccezioni, in Italia queste due leggi sono state scritte per scopi diversi e consentono l’accesso a due diversi tipi di documenti: <strong>i documenti che ci riguardano in prima persona</strong> e i <strong>documenti che la PA è obbligata per questioni di trasparenza a pubblicare</strong> ma che non ha ancora pubblicato.
È quindi importante riconoscere in quale situazione esercitare il diritto di accesso classico e quando il diritto di accesso civico.</p>

<h2 id="legge_241">La legge 241/1990 e l'accesso classico<a href="#legge_241">#</a> </h2>
<h1 id="bad_law">L'Italia ha una buona legge sul diritto di accesso?<a href="#bad_law">#</a> </h1>
<p>La <a href="http://www.altalex.com/index.php?idstr=12&idnot=550">Legge 241/1990</a> consente un accesso meno ampio rispetto ad altri paesi in Europa e nel mondo. Secondo l’<a href="http://www.rti-rating.org/">RTI Rating</a>, un indice sviluppato da <a href="http://www.access-info.org/">Access Info Europe</a> e il <a href="http://www.law-democracy.org/">Centre for Law and Democracy</a> per misurare la qualità delle leggi sul diritto di accesso nel mondo <a href="http://www.rti-rating.org/view_country?country_name=Italy">l'Italia</a> si colloca tra <a href="http://www.rti-rating.org/country-data">le dieci peggiori leggi al mondo</a>!</p>
<p>D’altronde devi pensare che è stata scritta prima che il processo di digitalizzazione delle informazioni fosse completato e prima che il tema degli open data cambiasse la prospettiva della disponibilità e della presentazione delle informazioni pubbliche al cittadino.</p>

<h1 id="tipi_documenti">Che tipi di documenti può richiedere un cittadino?<a href="#tipi_documenti">#</a> </h1>
<p><strong>Qualsiasi tipo</strong>: non importa se si tratta di atti, report, foto o video. L’importante è che ci sia un chiaro interesse del cittadino ad accedere a questi documenti.</p>

<h1 id="interesse_cittadino">Che si intende con “interesse del cittadino”?<a href="#interesse_cittadino">#</a> </h1>
<p>Riprendendo la formulazione della legge il cittadino che faccia richiesta di accesso deve dimostrare di avere <em>“un <strong>interesse diretto, concreto</strong> e <strong>attuale</strong>, corrispondente a una situazione giuridicamente tutelata e <strong>collegata al documento</strong> al quale è chiesto l’accesso”</em>.
Per chiarire:</p>
<ul>
  <li>interesse <em>diretto</em>: vuol dire che le informazioni contenute nell'atto devono essere personali, cioè riguardare chi ne fa richiesta</li>
  <li>interesse <em>concreto</em>: vuol dire che deve esserci un legame tra l'argomento dell'atto e la persona che lo richiede; l'informazione deve servire a tutelare concretamente un interesse giuridico del cittadino richiedente</li>
</ul>
<p>La legge,dunque, prevede che la richiesta di accesso debba essere motivata rispettando questi criteri e rivolta all'amministrazione che detiene il documento.</p>

<h1 id="richieste_241">Ma in concreto, cosa posso richiedere con la 241/1990?<a href="#richieste_241">#</a> </h1>
Esempi di documenti che ci riguardano in prima persona possono essere quelli di un <strong>concorso</strong> a cui abbiamo partecipato, una <strong>sanzione amministrativa</strong> che ci è stata imposta, una <strong>gara d'appalto</strong> alla quale ha preso parte la nostra azienda, i <strong>soldi stanziati dal Comune</strong> nell’ambito di cui si occupa la nostra associazione. 

<h1 id="eccezioni_241">Esistono delle eccezioni?<a href="#eccezioni_241">#</a> </h1>
<p>Si, perché il diritto d'accesso non è un diritto assoluto.</p>
<p>Questo vuol dire che ci sono categorie di informazioni che costituiscono eccezioni al diritto del cittadino. Solitamente tali eccezioni rientrano nelle categorie di <strong>sicurezza nazionale</strong>, <strong>ordine pubblico</strong>, crimini su cui le <strong>indagini sono ancora in corso</strong>, protezione di alcuni interessi privati, dalla <strong>privacy dell'individuo</strong> ai <strong>segreti aziendali</strong>, e ai processi legati alla <strong>politica monetaria e valutaria</strong>.</p>
<p>Un’altra eccezione piuttosto comune è quella contenuta nell’articolo 24.3 che vieta le richieste di accesso <em>“preordinate ad un <strong>controllo generalizzato</strong> dell’operato delle pubbliche amministrazioni”</em>. Questo articolo, presente solo nella normativa italiana, vieta le richieste che servono a controllare ciò che la Pubblica Amministrazione sta facendo. Si tratta di uno dei punti più problematici dell’accesso in Italia, anche se  il Decreto Trasparenza (leggi <a href="https://chiedi.dirittodisapere.it/help/about/#decreto_33">sotto</a>) ha in parte cambiato le cose.</p>
<p>Ad ogni modo, considera che anche se l'informazione richiesta ricade tra le eccezioni, non è detto che i dati non siano del tutto accessibili: in alcuni casi la P.A. dovrà fornirli omettendo i dati sensibili e segnalandolo al cittadino.</p>

<h1 id="rifiuto_241">L’accesso ai documenti che mi servono è stato rifiutato. Che faccio ora?<a href="#rifiuto_241">#</a> </h1>
<p>Se la tua richiesta è stata respinta o se entro 30 giorni non hai ricevuto alcuna risposta hai 30 giorni di tempo per presentare <strong>ricorso</strong></p>
<p>
<ul>
  <li>al Tribunale Amministrativo Regionale (TAR) di riferimento della PA (se è un Ministero, ad esempio dovrai presentare ricorso al TAR del Lazio) </li>
  <li>al difensore civico competente per ambito territoriale</li>
</ul>
</p>
<h2 id="decreto_33">Il Decreto Trasparenza (33/2013) e l’accesso civico <a href="#decreto_33">#</a> </h2>
<h1 id="accessocivico">Come funzionano  il Decreto 33/2013 e l’accesso civico?<a href="#accessocivico">#</a> </h1>  
Il <a href="http://www.normattiva.it/uri-res/N2Ls?urn:nir:stato:decreto.legislativo:2013-03-14;33">Decreto Trasparenza (33/2013)</a> obbliga le Pubbliche Amministrazioni a pubblicare tempestivamente alcuni tipi di informazioni e documenti sui loro siti istituzionali. Nel sito di ogni P.A. esiste a questo scopo una specifica sezione chiamata “Amministrazione Trasparente”.
Dai un’occhiata ad esempio alla sezione Amministrazione Trasparente del <a href="http://hubmiur.pubblica.istruzione.it/web/ministero/amministrazione-trasparente">Ministero dell'Istruzione</a>, della <a href="http://www.regione.lombardia.it/cs/Satellite?c=Page&childpagename=Regione%2FRegioneLayout&cid=1213582351799&p=1213582351799&pagename=RGNWrapper">Regione Lombardia</a> o del <a href="http://www.comune.roma.it/wps/portal/pcr?jppagecode=red_gen_amm_tra.wp">Comune di Roma</a>.   
  
<h1 id="richieste_accessocivico">Bene, allora che c’entrano le richieste di accesso?<a href="#richieste_accessocivico">#</a> </h1>   
<p>Se la Pubblica Amministrazione non ha effettivamente pubblicato uno di questi documenti i cittadini hanno il diritto di esercitare il cosiddetto “accesso civico”, ovvero <strong>richiedere l’immediata pubblicazione</strong> di queste informazioni.
A differenza dell’accesso tradizionale, le richieste di accesso civico <strong>non devono essere motivate</strong> in quanto non è necessario nessun collegamento tra il documento e il cittadino.</p>  
  
<h1 id="info_accessocivico">Che tipo di informazioni posso richiedere tramite accesso civico?<a href="#info_accessocivico">#</a> </h1>  
<p>La lista di documenti è piuttosto lunga e va dall’articolo 12 al 42. Un modo veloce per sapere se il documento che cerchi è tra quelli che la Pubblica Amministrazione deve pubblicare è consultare l’<a href="http://www.ilimone.it/pdf/amm_trasp_tabella_dl33_2013.pdf">Allegato</a> del Decreto 33/2013 che descrive la struttura della sezione “Amministrazione Trasparente” suddividendo i documenti in categorie. Queste sono le categorie e alcuni esempi di documenti citati nel decreto.</p>
<p>
<ul>
  <li><strong>Organizzazione</strong> (organigramma, competenze e risorse di ogni ufficio, contatti  telefonici e PEC, organi di indirizzo politico-amministrativo)</li>
  <li><strong>Consulenti e collaboratori</strong> (CV, l’atto di conferimento dell’incarico, attività professionali parallele)</li>
  <li><strong>Personale</strong> (dirigenti, incarichi amministrativi di vertice, dotazione organica, tassi di assenza)</li>
  <li><strong>Bandi di concorso</strong> per il reclutamento di personale</li>
  <li><strong>Performance</strong> (relazione sulla performance, premi ricevuti per performance...)</li>
  <li><strong>Enti controllati</strong> (elenco di società partecipate, enti pubblici e di diritto privato vigilati, rappresentazioni grafiche dei rapporti PA-enti)</li>
  <li><strong>Attività e procedimenti</strong> (dati aggregati attività amministrativa, elenco tipologie procedimenti e contatto dei relativi responsabili, atti e modulistica... )</li>
  <li><strong>Provvedimenti</strong> adottati dagli organi di indirizzo politico e dai dirigenti (autorizzazioni; concessioni; scelte del contraente per affidamento di lavori, forniture e servizi; accordi stipulati con enti privati)</li>
  <li><strong>Controlli sulle imprese</strong> (tipologie di controllo sulle imprese a seconda delle dimensioni e del settore; elenco di obblighi e adempimenti...)</li>
  <li><strong>Bandi di gara e contratti</strong></li>
  <li><strong>Sovvenzioni, contributi, sussidi, vantaggi economici</strong> (criteri e modalità di concessione; atti di concessione)</li>
  <li><strong>Bilanci</strong> (preventivi e consuntivi)</li>
  <li><strong>Beni immobili e gestione patrimonio</strong> (patrimonio immobiliare; canoni di locazione o affitto)</li>
  <li><strong>Controlli e rilievi sull’amministrazione</strong> (controlli sull’organizzazione e l’attività)</li>
  <li><strong>Servizi erogati</strong> (carta dei servizi; standard di qualità dei servizi pubblici; costi e tempi di erogazione dei servizi)</li>
  <li><strong>Pagamenti dell'amministrazione</strong> (tempi medi di pagamento relativi agli acquisiti di beni, servizi e forniture)</li>
  <li><strong>Opere pubbliche</strong>(programmazione; tempi e costi previsti; relazioni annuali; pareri dei valutatori)</li>
  <li><strong>Pianificazione e governo del territorio</strong> (piani territoriali; strumenti urbanistici...)</li> 
  <li><strong>Informazioni ambientali</strong> (rilievi e analisi ambientali effettuate...)</li> 
  <li>Elenco <strong>strutture sanitarie private e accreditate</strong></li>
  <li><strong>Interventi straordinari e d’emergenza</strong> (in caso di calamità)</li>
</ul>
</p>
<h1 id="funzionamento_accessocivico">Come funziona l'accesso civico?<a href="#funzionamento_accessocivico">#</a> </h1>
<p>La richiesta va indirizzata al responsabile della trasparenza della pubblica amministrazione che si sta contattando. La Pubblica Amministrazione ha 30 giorni di tempo dall’invio della richiesta per pubblicare nel sito il documento, l’informazione o i dati richiesti.
Allo stesso tempo la P.A. li invia al richiedente o gli segnala il link al quale può accedere a quanto richiesto.</p>

<h1 id="doc_missing">Credo manchi un documento sul portale dell’Amministrazione Trasparente ma forse sono io che non lo trovo… che faccio?<a href="#doc_missing">#</a> </h1>
<p>Fai comunque richiesta! Nel caso in cui il documento, l’informazione o il dato richiesti risultino già pubblicati, l’Amministrazione deve indicare al richiedente il relativo collegamento ipertestuale.</p>

<h2 id="problemi">Di tempi, costi e altri grattacapi<a href="#problemi">#</a> </h2>
<h1 id="tempi">Quanto tempo ci vuole per ottenere una risposta?<a href="#tempi">#</a> </h1>
<p>Sia per l’accesso classico (241/90) che per l’accesso civico (33/13) la richiesta deve ricevere risposta entro 30 giorni; in caso di mancata risposta, la richiesta si considera respinta. Puoi però presentare ricorso al TAR, al Difensore Civico o alla <a href="http://www.commissioneaccesso.it/">Commissione per l'accesso</a>: anche in questo caso la legge prevede che la risposta sia dovuta entro 30 giorni.</p>

<h1 id="costi">Quanto mi costa vedere questi documenti?<a href="#costi">#</a> </h1>
<p>La visione dei documenti è gratuita. Ricevere una copia cartacea del documento in questione comporta costi pari a quelli di riproduzione del documento e di bollo.</p>

<h1 id="foia">Come posso fare se le informazioni che mi servono non rientrano tra quelle coperte dalla legge italiana?<a href="#foia">#</a> </h1>
<p>Avrai capito a questo punto che la legge italiana sull’accesso è ancora molto limitata.
Se credi di non riuscire a ottenere le informazioni che ti servono (o non ci sei riuscito), <a href="https://chiedi.dirittodisapere.it/help/contact">contattaci</a> e spiegaci la tua situazione: potremmo trovare una soluzione alla quale non hai ancora pensato! Diritto Di Sapere, insieme alle organizzazioni promotrici di <a href="http://www.foia4italy.it">FOIA4Italy</a>, sta lottando per ottenere dal Governo Italiano un Freedom Of Information Act, ovvero una legge che definisca chiaramente il diritto dei cittadini ad accedere a tutti i documenti della Pubblica Amministrazione.
Segui sul nostro blog tutti gli aggiornamenti, <a href="http://www.riparteilfuturo.it/foia4italy">firma la petizione</a> e diffondi le nostre attività a tutti quelli che conosci.</p>
</div>
