<% @title = "Fare una richiesta" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="chiedi">A cosa serve Chiedi? <a href="#chiedi">#</a> </dt>
<dd>
  <p>Chiedi è una piattaforma di social mailing basata sul software open-source <a href="http://alaveteli.org/">Alaveteli</a>, sviluppato dall’ong britannica <a href="https://www.mysociety.org/">mySociety</a> e oggi localizzata in 18 paesi.
  Chiedi serve a inviare richieste di accesso ai documenti detenuti dalle Pubbliche Amministrazioni e a mantenere questo processo di richiesta pubblico e trasparente.
  In Italia queste richieste sono regolate dalla Legge 241/1990 sull’accesso agli atti amministrativi e dal diritto di accesso civico stabilito dal Decreto 33/2013.</p>
</dd>

<dt id="chiedi_breve">Emh...cosa?<a href="#chiedi_breve">#</a> </dt>
<dd>
  <p>In parole povere, se ti serve un documento o un’informazione dal tuo Comune, da un Ministero o da qualsiasi altra Pubblica Amministrazione, Chiedi ti permette di richiederlo in maniera semplice, perché ti aiuta a trovare gli indirizzi di posta elettronica certificata ai quali indirizzarla e ti guida nella procedura.
  In più, una volta che l’hai inviata, ti aggiorna  sullo stato della tua richiesta e ti permette di condividere pubblicamente i risultati. In questo modo le risposte che ottieni possono servire anche ad altri e le amministrazioni saranno incoraggiate a rispondere nei 30 giorni di legge per fare bella figura.
  </p>
</dd>

<dt id="chi">Chi può usare Chiedi?<a href="#chi">#</a> </dt>
<dd>
  <p>Giornalisti, attivisti, aziende, ong e in generale ogni cittadino. Ricorda solo che ciò che chiedi e ciò che ottieni viene sempre pubblicato sul sito in chiaro.
  Se hai bisogno di fare una richiesta senza renderla pubblica <a href="https://chiedi.dirittodisapere.it/help/contact">contattaci</a>.</p>
</dd>

<dt id="come">Come funziona Chiedi?<a href="#come">#</a> </dt>
<dd>
  <p>Dopo esserti iscritto, puoi inserire una richiesta di accesso sul sito e noi la spediremo alla Pubblica Amministrazione che hai indicato.
  Quando la PA risponde, la risposta (e i documenti allegati) verranno pubblicati sul sito di Chiedi e tu riceverai una notifica.
  Se vuoi rispondere nuovamente puoi farlo sempre dal sito di Chiedi. Quando il processo di richiesta è completo, aggiorna lo “stato della richiesta” per informare gli altri utenti se tutto è andato a buon fine o se al contrario la pubblica amministrazione ti ha negato l’accesso ai documenti che hai richiesto.</p>
</dd>

<h2 id="prima_richiesta">Per la tua prima richiesta<a href="#prima_richiesta">#</a> </h2>

<dt id="dati">Quali dati devo fornire per iscrivermi a Chiedi?<a href="#dati">#</a> </dt>
<dd>
  <p>Semplicemente nome, cognome e una tua email.<br>
  In aggiunta puoi anche caricare una tua foto e una tua breve biografia. Se intendi fare diverse richieste di accesso, avere un profilo più completo potrebbe essere d’aiuto.
  Innanzitutto dimostri alla Pubblica Amministrazione la serietà del tuo impegno e di volerci mettere - letteralmente -  la faccia. Se sei un giornalista (e quindi puoi appellarti aldiritto di cronaca e rivendicare di essere portatore di un interesse pubblico a conoscere determinate informazioni) puoi inserire in questo spazio un riferimento alla tua professione e rafforzare la tua richiesta.
  </p>
</dd>

<dt id="come_richiesta">Come invio una richiesta?<a href="#come_richiesta">#</a> </dt>
<dd>
  <p>Dopo esserti iscritto al sito clicca su “Inserisci Richiesta” e segui la procedura guidata.
  Dovrai semplicemente selezionare l’amministrazione alla quale inviare inviare la richiesta e poi completare il testo della richiesta. Se non hai mai fatto una richiesta di accesso  continua a leggere questa pagina o scarica e consulta il Legalleaks italiano.</p>
</dd>

<h2 id="buona_richiesta">Per fare una buona richiesta<a href="#buona_richiesta">#</a> </h2>

<dt id="quali_info">Quali informazioni posso richiedere in quanto cittadino?<a href="#quali_info">#</a> </dt>
<dd>
  <p>Secondo la legge italiana puoi accedere a due tipi di documenti :
  <ul>
    <li><strong>quelli che ti riguardano in prima persona</strong></li>
    <li>i documenti che <strong>la Pubblica Amministrazione è obbligata</strong> per questioni di <strong>trasparenza</strong> a pubblicare ma che non ha ancora pubblicato</li>
  </ul>
  Nel primo caso, cita nella tua richiesta la “Legge 241/1990” come riferimento normativo; nel secondo caso il “Decreto 33/2013”.
  </p>

  <p>Se vuoi aiutarci ad aggiungere un intero gruppo di istituzioni mancanti, <a href="mailto:team@chiedi.dirittodisapere.it">contattaci</a>: te ne saremo davvero grati!
  </p>
</dd>

<dt id="giornalisti">Sono un giornalista: per me valgono regole differenti?<a href="#giornalisti">#</a> </dt>
<dd>
  Sì e no. I giornalisti sono, almeno in teoria, portatori di un interesse pubblico a conoscere determinate informazioni e l’accesso è importante per esercitare la libertà di espressione garantita dall’<a href="https://www.senato.it/1025?sezione=120&articolo_numero_articolo=21">Articolo 21 della Costituzione</a>.
  Purtroppo però questa prerogativa non viene sempre riconosciuta dalle pubbliche amministrazioni. Per informazioni più precise Diritto Di Sapere ha creato una guida apposita per i giornalisti professionisti chiamata <a href="http://www.dirittodisapere.it/il-manuale/">LegalLeaks</a> che puoi scaricare gratuitamente <a href="http://www.dirittodisapere.it/wp-content/uploads/2013/02/LEGALLEAKSaprile14.pdf">qui</a>.
</dd>

<dt id="associazione">E se faccio parte di un'associazione<a href="#associazione">#</a> </dt>
<dd>
  <p>La tua <strong>associazione</strong> può fare richiesta in quanto “portatrice di un interesse collettivo”. Questi interessi sono le finalità dell’associazione e devono essere esplicitamente menzionati nello <strong>statuto associativo</strong>. Cita esplicitamente nella tua richiesta gli articoli dello statuto che richiamano questo interesse.</p>
</dd>

<dt id="altri_doc">Ma non mi servono documenti: ho bisogno di foto/video/banche dati!<a href="#altri_doc">#</a> </dt>
<dd>
  <p>Secondo la legge italiana, si intende come <strong>documento amministrativo</strong> “<strong>ogni rappresentazione grafica</strong>, fotocinematografica, elettromagnetica o di <strong>qualunque altra specie</strong> del contenuto degli atti” (art. 22, comma 1, lett. d), Legge n. 241/1990).
  Questo vuol dire che le disposizioni si applicano anche al materiale audiovisivo e che, ad esempio, i documentaristi possono usare questo diritto anche per procurarsi filmati o foto per i loro prodotti.</p>
</dd>

<dt id="scelta_legge">Non sono sicuro di quale riferimento normativo inserire, che faccio?<a href="#scelta_legge">#</a> </dt>
<dd>
  <p>Fare riferimento specifico al tuo diritto di accesso o al tuo diritto di accesso civico è fondamentale: in questo modo dimostri al tuo interlocutore che conosci i tuoi diritti e ti assicuri che il procedimento segua le norme di legge.
  <br>Proviamo a riassumere qui:
  </p>

  <ul>
    <li>se vuoi richiedere un documento che tocca un tuo interesse specifico (un concorso al quale stai partecipando, l’appalto della tua azienda) invoca l’applicazione della 241/1990;</li>

    <li>se sei un giornalista e stai scrivendo un pezzo su un argomento per il quale ti serve un documento, richiama  l’applicazione della 241/1990 e specifica che in quanto giornalista sei “portatore di interesse pubblico in quanto soggetto titolare di diritto di cronaca ai sensi dell’articolo 21 della Costituzione”;</li>

    <li>se vuoi un documento che riguarda le performance, i provvedimenti, il personale (<a href="https://chiedi.dirittodisapere.it/help/about/#info_accessocivico">guarda la lista intera</a>) della Pubblica Amministrazione, invoca il Decreto 33/2013. </li>
  </ul>

  <p>Consulta la nostra <a href="https://chiedi.dirittodisapere.it/help/about/#why_laws">pagina sul diritto di accesso</a> se hai ancora dubbi.</p>

  <p>Se pensi che per il documento che stai richiedendo siano applicabili entrambe le norme, citale entrambe.</p>
</dd>

<dt id="motivazione">Devo motivare la mia richiesta?<a href="#motivazione">#</a> </dt>
<dd>
  <p>Se vuoi ricorrere all’accesso classico sì, se vuoi ricorrere all’accesso civico non importa.<br>Non preoccuparti di scrivere lunghe argomentazioni, la motivazione deve essere espressa in maniera chiara e concisa.</p>
</dd>

<dt id="info_o_documenti">Chiedo delle informazioni o dei documenti?<a href="#info_o_documenti">#</a> </dt>
<dd>
  <p>Chiedi dei documenti: <strong>più sei preciso maggiori sono le probabilità di successo</strong> della tua richiesta. Se lo conosci, indica un riferimento a numeri di archivio o di catalogazione. La legge 241/1990 stabilisce all’articolo 22.4 che “non sono accessibili le informazioni in possesso di una pubblica amministrazione che non abbiano forma di documento amministrativo”.<br>Il diritto di accesso <strong>all’estero si sta sviluppando verso il riconoscimento del della possibilità per i cittadini di porre domande</strong>.
  Se quello che hai bisogno di sapere non è riferibile ad alcun tipo di documento puoi comunque provare a inviare una richiesta, o contattare in maniera più informale l’URP della Pubblica Amministrazione che ti interessa.
  </p>
</dd>

<dt id="vecchi_documenti">Chiedo delle informazioni o dei documenti?<a href="#vecchi_documenti">#</a> </dt>
<dd>
  <p>Secondo la Legge sull’Accesso puoi esercitare il tuo diritto di accesso su un documento <strong>finché la pubblica amministrazione ha l’obbligo di detenere quello specifico documento</strong>.
  </p>
</dd>

<dt id="urgenza">Non ho molto tempo, cosa posso fare?<a href="#urgenza">#</a> </dt>
<dd>
  <p>Se il documento ti serve con urgenza fallo presente nella richiesta di accesso spiegando dettagliattamente le motivazioni dell’urgenza. In generale, considerando i tempi di attesa per ricevere risposta, proponiti, quando possibile, di programmare le richieste e inviarle all’inizio della tua ricerca di informazioni: nel frattempo puoi condurre indagini in parallelo.</p>
</dd>

<dt id="consigli">Quindi, quali regole devo seguire per fare una buona richiesta?<a href="#consigli">#</a> </dt>
<dd>
  <ul>
    <li>Scrivi in maniera semplice, chiara ma precisa;</li>
    <li>Fai riferimento specifico alla legge 241/1990 o al decreto 33/2013;</li>
    <li>Chiedi i documenti in formato elettronico;</li>
    <li>Se pensi che parte dei documenti possa ricadere tra le eccezioni previste dalla legge dividi la domanda in due parti e fai due richieste separate.</li>
  </ul>
</dd>

<h2 id="problemi">Problemi<a href="#problemi">#</a> </h2>

<dt id="contro_eccezioni">Cosa posso fare contro le eccezioni?<a href="#contro_eccezioni">#</a> </dt>
<dd>
  <p>Solitamente le eccezioni rientrano nelle categorie di <strong>sicurezza nazionale</strong>, <strong>ordine pubblico</strong>, crimini su cui le <strong>indagini sono ancora in corso</strong>, protezione di alcuni interessi privati, dalla <strong>privacy dell’individuo</strong> ai <strong>segreti aziendali</strong>, e ai processi legati alla <strong>politica monetaria e valutaria</strong>.</p>

  <p>Comunque considera che anche se l'informazione richiesta ricade tra le eccezioni, non è detto che i dati non siano del tutto accessibili: in alcuni casi la P.A. dovrà fornirli omettendo i dati sensibili e segnalandolo al cittadino.</p>

  <p>Per questo, se pensi che parte dei documenti possa ricadere tra le eccezioni previste dalla legge, dividi la domanda in due parti e fai due richieste separate.</p>
</dd>

<dt id="quickly_response">Entro quanto tempo la Pubblica Amministrazione deve rispondermi?<a href="#quickly_response">#</a> </dt>
<dd>
  <p>La richiesta deve ricevere risposta entro <strong>30 giorni</strong> (solari, non lavorativi).</p>

  <p>In caso di mancata risposta, la richiesta si considera respinta. Puoi però presentare ricorso al TAR, al Difensore Civico o alla Commissione d’accesso: anche in questo caso la legge prevede che la risposta sia dovuta entro 30 giorni.</p>

  <p>Diritto di Sapere ti invierà una email se non ricevi una risposta nei tempi di legge. Potrai quindi mandare un ulteriore messaggio all'amministrazione interessata per segnalare la scadenza dei termini.</p>
</dd>

<dt id="fees">Quanto mi costa?<a href="#fees">#</a> </dt>
<dd>
  <p>La visione dei documenti è gratuita.<br>
  Ricevere una copia cartacea del documento in questione comporta costi pari a quelli di riproduzione del documento (fotocopia, DVD ecc) e di bollo. In molti casi è possibile richiedere la versione elettronica dei documenti in questione a costo zero.</p>
</dd>

<dt id="scelta_pa">Non sono sicuro su quale sia l'amministrazione giusta a cui fare richiesta. Come faccio?<a href="#scelta_pa">#</a> </dt>
<dd>
  <p>Lo sappiamo, è difficile orientarsi nei meandri della Pubblica Amministrazione e capire a chi inviare una richiesta di accesso. Ecco alcuni consigli:</p>
  <ul>
    <li>Esplora Diritto di Sapere e cerca richieste simili alla tua</li>
    <li>Quando hai trovato l'amministrazione che pensi possa avere l'informazione che ti serve, usa il link “homepage” sul lato destro per capire di cosa si occupano</li>
    <li>Contatta l'amministrazione per telefono o via email per capire se hanno l'informazione che ti serve</li>
    <li>Non ti preoccupare troppo se non si tratta dell'ufficio giusto. In quel caso, a norma di legge, dovrebbero segnalarti a chi inoltrare la richiesta</li>
    <li><strong>Invia più richieste:</strong> se non sei sicuro di quale sia l’istituzione competente, non c’è nulla che vieti di inviare la medesima richiesta a due o tre organi della Pubblica Amministrazione</li>
    <li>In casi particolarmente complicati <a href="https://chiedi.dirittodisapere.it/help/contact">scrivici</a></li>
  </ul>
</dd>

<dt id="missing_body">Nel vostro elenco non c'è l'amministrazione che sto cercando!<a href="#missing_body">#</a> </dt>
<dd>
  <p>In questo momento nel sistema ci sono gli indirizzi dei ministeri, delle regioni e dei comuni capoluogo di regione. Man mano aggiungeremo altre amministrazioni; per favore <a href="https://chiedi.dirittodisapere.it/change_request/new">scrivici</a> e segnala il nome della P.A. che stai cercando e, se riesci a trovarlo, anche l'indirizzo da utilizzare per inoltrare le richieste di accesso.</p>

  <p>Se vuoi aiutarci ad aggiungere un intero gruppo di istituzioni mancanti, <a href="https://chiedi.dirittodisapere.it/help/contact">contattaci</a>: te ne saremo davvero grati!</p>
</dd>

<dt id="focused">Perché devo mantenere la mia richiesta specifica?<a href="#focused">#</a> </dt>
<dd>
  <p>Inserisci solo quanto necessario a identificare il documento di cui stai facendo richiesta.
  <br>Non aggiungere:</p>

  <ul>
    <li>lunghe argomentazioni sulle tue motivazioni (ricorda: nessuna motivazione se usi il decreto 33/2013!)</li>
    <li>insulti o contenuti diffamatori.</li>
  </ul>

  <p>In caso contrario, dovremo rimuovere la tua richiesta per evitare problemi legali, che comporterebbero problemi per noi e per te. Messaggi brevi e concisi aiutano l'amministrazione a identificare l'informazione che ti serve e a darti una risposta più rapida.</p>

  <p>Se vuoi informazioni per sostenere una campagna, l'accesso può essere uno strumento potente. Anche se non userai questo sito per la tua campagna, ti invitiamo a usarlo per ottenere le informazioni che ti servono. Ti incoraggiamo, anzi, a creare un sito per la tua causa – un modo molto semplice è creare un tuo blog e collegarlo a una pagina Facebook. Se hai un sito o un blog, segnalalo in una nota alla tua richiesta (puoi inserire note alla tua richiesta dopo averla inviata).</p>
</dd>

<dt id="no_response">E se non mi rispondono<a href="#no_response">#</a> </dt>
<dd>
  <p>In caso di mancata risposta, la richiesta si considera respinta. Puoi però presentare ricorso al TAR, al Difensore Civico o alla <a href="http://www.commissioneaccesso.it/">Commissione per l'Accesso</a>: anche in questo caso la legge prevede che la risposta sia dovuta entro 30 giorni.<br>Ecco altre cose che puoi fare:</p>

  <ul>
    <li>Potrebbe esserci stato un problema tecnico per cui la richiesta non è mai arrivata. Se pensi possa essere questo il caso, telefona all'ufficio a cui hai mandato la richiesta e verifica che l'abbiano ricevuta.</li>
    <li>Se non l'hanno ricevuta, il problema potrebbe essere il filtro dello spam. Segnalalo all'ufficio – e spiega loro che su Diritto di Sapere c'è anche <a href="https://chiedi.dirittodisapere.it/help/officers">una pagina per aiutarli</a></li>
    <li>Se ancora non ricevi risposta puoi presentare ricorso al TAR, al Difensore Civico o alla <a href="http://www.commissioneaccesso.it/">Commissione per l'Accesso</a>: anche in questo caso la legge prevede che la risposta sia dovuta entro 30 giorni. Ecco un <a href="">elenco</a> di cose che puoi fare.</li>
  </ul>
</dd>

<dt id="not_satifised">E se non sono soddisfatto della risposta?<a href="#not_satifised">#</a> </dt>
<dd>
  <p>Se non ricevi l'informazione richiesta, se la ricevi in ritardo rispetto ai termini di legge, leggi la nostra pagina a riguardo.</p>
</dd>

<dt id="approfondimento">Voglio capire meglio come funziona tutto il meccanismo dell'accesso...<a href="#approfondimento">#</a> </dt>
<dd>
  <p>Leggi la nostra <a href="https://chiedi.dirittodisapere.it/help/about">pagina sul diritto di accesso</a>.<br>Qui trovi il manuale <a href="http://www.dirittodisapere.it/il-manuale/">LegalLeaks</a>, che abbiamo creato e aggiornato (ad aprile 2014) apposta per fornire tutte le informazioni necessarie sull'accesso.</p>
</dd>

<dt id="private_requests">Voglio capire meglio come funziona tutto il meccanismo dell'accesso...<a href="#private_requests">#</a> </dt>
<dd>
  <p>Al momento Diritto di Sapere è progettato solo per <strong>richieste pubbliche</strong>.<br>
  Se vuoi che la tua richiesta rimanga privata, devi contattare direttamente l'istituzione. Se vuoi ulteriori informazioni <a href="https://chiedi.dirittodisapere.it/help/contact">scrivici</a></p>
</dd>

<dt id="offsite">Ho fatto una richiesta senza usare il sito, come faccio a caricarla nell'archivio?<a href="#offsite">#</a> </dt>
<dd>
  <p>Diritto di Sapere è un archivio di richieste fatte attraverso il sito e non vuole necessariamente raccogliere tutte le richieste di accesso che vengono inviate. Per questo motivo non carichiamo richieste non presentate attraverso il sito.</p>

  <p>Tra l'altro, non saremmo in grado di verificare l'esistenza di eventuali risposte arrivate dall'amministrazione in questione. Se il tema ti sta particolarmente a cuore, ti chiediamo di inviare nuovamente la richiesta usando il sito.</p>
</dd>

<dt id="moderation">Come funziona la moderazione delle note alle richieste?<a href="#moderation">#</a> </dt>
<dd>
  <p>Le note alle richieste servono per aiutare gli utenti a ottenere le informazioni di cui hanno bisogno o per segnalare loro altre modalità con cui trovare indicazioni utili. Ci riserviamo il diritto di rimuovere tutto quello che non rientra in queste categorie.<br>
  Diritto di Sapere non è il luogo adatto per infinite discussioni sulla politica. Pubblicate nelle note il link a un forum o sito dove la conversazione può continuare agevolmente.</p>
</dd>

</dl>

<div id="hash_link_padding"></div>
</div>
